/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*My styling*/

#map {
	height: 300px;
	width: 300px
}

#main-about .mobile-signup a{
	position: fixed;
	width: 100px;
	height: 40px;
	text-align: center;
	z-index: 2000;
	bottom: 20px;
	left: 0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
	border-radius: 25px;
	line-height: 37px;
	display: none;
	font-family: 'Noto Serif JP', sans-serif;
	font-weight: bold;
	color: black;
	background-image: linear-gradient(to right, #00cc44 , #99ffbb);
}

.main-wrapper {
	margin: 0 auto;
	width: auto;
}

.main-wrapper ul li{
	float: left;
	margin-right; 5px;
}

a {
	text-decoration: none;
}

body {
	background-color: white
}

header nav {
	width: 100%;
	height: 60px;
	position: fixed;
	z-index: 1000;
	background-color: #665882
}

#header-items {
	margin: 0 auto;
	padding: 0px 65px 0px 83px;
}

#logoandtitle {
	float: left;
	display: inline-block;
	height: 59px;
	line-height: 57px;
	cursor: pointer;
}

#logoandtitle img {
	display: inline-block;
	vertical-align: middle;
	border-radius: 5px;
	height: 40px;
	width: 40px;
}

header nav p {
	display: inline-block;
	padding-left: 12px;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: white;   
}

header nav ul li a {
	font-family: arial;
	font-size: 16px;
	color: #111;
	line-height: 63px;
}

header nav img {
	width: 20px;
	height: 20px;
}

header nav .alertcount {
	position: relative;
	right: 10px;
	bottom: 10px;
	background: red;
	color: white;
	border-radius: 0.8em;
	font-size: 10px;
	line-height: 1.5em;
	width: 1.5em;
	font-weight: bold;
	text-align: center;
	display: inline-block;
}

.requestitem {
	display: inline-block;
}

header .nav-login {
	float: right;
}

header .nav-login form {
	float: left;
	padding-top: 15px;
}

header .nav-login form input {
	float: left;
	width: 140px;
	height: 30px;
	padding: 0px 10px;
	margin-right: 10px;
	border: none;
	font-family: arial;
	font-size: 14px;
	color: #111;
	line-height: 30px;
	border-radius: 5px;
}

header .nav-login form button {
	float: left;
	width: 60px;
	height: 30px;
	margin-right: 10px;
	border: none;
	background-color: #f3f3f3;
	font-family: arial;
	font-size: 14px;
	color: #111;
	cursor: pointer;
	border-radius: 5px;
}

header .nav-login form button:hover {
	background-color: #ccc;
}

header .nav-login a {
	padding: 2px 0px 0px 10px;
	display: block;
	font-family: arial;
	font-size: 11px;
	color: white;
	cursor: pointer;
}

#loggedoutmain {
	display: flex;
	margin: 0 auto;
}

.main-container {
	padding-top:70px;
	flex: 1;
	background-image: linear-gradient(to bottom, rgb(218, 214, 234), rgba(255, 255, 255, 0.73)),url(https://i0.wp.com/www.intelligentliving.co/wp-content/uploads/2019/08/Planting-trees.jpg?w=1751&ssl=1);
}

.main-container-text {
	padding: 100px;
}

.main-container h2 {
	font-size: 17px;
	color: #605395;
	line-height: 50px;
	text-align: left;
	font-family: 'Noto Serif JP', sans-serif;
	margin-left: auto;
	margin-right: auto;
}

.main-container img {
	width: 100px;
	height: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.main-container h3 {
	font-size: 22px;
	color: #605395;
	line-height: 50px;
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	margin-left: auto;
	margin-right: auto;
}

#loginorsignup {
	flex: 1;
	padding-top: 70px;
	background-color: #DAD6EA;
}

#loginorsignup-text {
	padding: 25px;
}

#loginorsignup .warning {
	color: white;
}

#headergreeting {
	display: block;
	float: left;
	padding-right: 10px;
	line-height: 63px;
	font-size: 20px;
	font-family: arial;
}

.benefits {
	padding-top: 70px;
}

/*mobile media query*/

@media (max-width:800px)  { 
	#main-about .mobile-signup a {
		display: block;
	}

	.menu-icon {
		  position: absolute;
		  float: left;
		  width: 20px;
		  height: 14px;
		  margin: auto;
		  top: 0;
		  right: 15px;
		  bottom: 1px;
	}

	.main-wrapper .menu-line{
		
		 background-color: #333;
		 height: 2px;
		 width: 100%;
		 border-radius: 2px;
		 position: absolute; 
		 left: 0;
	}
		
	.main-wrapper .menu-line-1 { 
		top: 0; 
	}

	.main-wrapper .menu-line-2 {
		 top: 0;
		 bottom: 0;
		 margin: auto;
	}

	.main-wrapper .menu-line-3 { 
		bottom: 0; 
	}

	.navlink {
		position: fixed;
		margin-top: 60px;
		width: 100%;
		background-color: white;
		right: -786px;
		-webkit-transition: .5s ease-out;
		-moz-transition: .5s ease-out;
		-o-transition: .5s ease-out;
		-ms-transition: .5s ease-out;
		transition: .5s ease-out;
	}
	
	.navlink-out {
		position: fixed;
		margin-top: 60px;
		width: 100%;
		background-color: white;
		right: 0px;
		-webkit-transition: .5s ease-out;
		-moz-transition: .5s ease-out;
		-o-transition: .5s ease-out;
		-ms-transition: .5s ease-out;
		transition: .5s ease-out;
	}
	
	.navlink ul {
		width: 100%;
		text-align: center;
	}
	
	.navlink li {
		width: 100%;
		border: .5px solid black;
	}
	
	header .nav-login {
		position: fixed;
		margin-top: 250px;
		width: 100%;
		background-color: white;
		border-top: 1px solid black;
		height: 60px;
		float: none;
		right: -786px;
		-webkit-transition: .5s ease-out;
		-moz-transition: .5s ease-out;
		-o-transition: .5s ease-out;
		-ms-transition: .5s ease-out;
		transition: .5s ease-out;
	}
	
	header .nav-login-out {
		right: 0px;
		-webkit-transition: .5s ease-out;
		-moz-transition: .5s ease-out;
		-o-transition: .5s ease-out;
		-ms-transition: .5s ease-out;
		transition: .5s ease-out;
	}
	
	header .nav-login form {
		width: 100%;
		float: none;
		text-align: center;
	}
	
	header .nav-login form input {
		float: none;
	}
	
	header .nav-login form button {
		float: none;
	}
	
	header .nav-login a {
		display: none;
	}

	#loggedoutmain {
        	flex-direction: column;
	}
}

@media (max-width:667px)  { 

	.main-container {
		padding-top: 56px;
	}

	.main-container-text {
		padding: 25px;
	}

	.main-container-text h2 {
		font-size: 12px;
		line-height: 25px;
	}

	.main-container-text h3 {
		font-size: 17px;
		line-height: 30px;
	}
}

/*Friend Search Page*/
#searchpagecontent {
	padding-top: 95px;
	text-align: center;
}

#friendSearchLabel {
	padding-top: 9px;
	padding-bottom: 12px;
	font-size: 26px;
	font-family: 'Noto Serif JP', sans-serif;
	font-weight: bold;
}

#searchform {
	height: 37px;
}

.searchresult {
	width: 500px;
	border: 1px solid purple;
	margin: 4px auto;
	border-radius: 8px;
	padding: 6px;
	
}

/*Password Reset Page*/
#passwordresetcontent {
	padding-top: 61px;
	background-image: linear-gradient(to bottom, rgb(218, 214, 234), rgba(255, 255, 255, 0.73)),url(https://i0.wp.com/www.intelligentliving.co/wp-content/uploads/2019/08/Planting-trees.jpg?w=1751&ssl=1);
	height: 200px;
}

/*Add Event page*/
#addEventLabel {
	padding-top: 9px;
	padding-bottom: 12px;
	font-size: 26px;
	font-family: 'Noto Serif JP', sans-serif;
	font-weight: bold;
}

#addeventcontent {
	padding-top: 41px;
	padding-bottom: 24px;
	background-image: linear-gradient(to bottom, rgb(218, 214, 234), rgba(255, 255, 255, 0.73)),url(https://i0.wp.com/www.intelligentliving.co/wp-content/uploads/2019/08/Planting-trees.jpg?w=1751&ssl=1);
}

#map {
	height: 300px;
	width: 100%;
	border-radius: 8px;
}

/*Event Page */
#pagecontent {
	margin-top: 44px;
}

#eventform {
	background-image: linear-gradient(to bottom, rgb(218, 214, 234), rgba(255, 255, 255, 0.73)),url(https://i0.wp.com/www.intelligentliving.co/wp-content/uploads/2019/08/Planting-trees.jpg?w=1751&ssl=1);
}

#detailsandmap {
	display: flex;
	max-width: 925px;
	margin: 0 auto;
}

#detailsandmap p {
	font-family: 'Noto Serif JP', sans-serif;
	font-size: 17px;
	padding-bottom: 6px;
}

#detailsandmap textarea {
	height: 33px;
	width: 95%;
	border-radius: 8px;
	font-family: 'Noto Serif JP', sans-serif;
	font-size: 14px;
	padding: 7px;
	resize: none;
	overflow: hidden;
}

.eventdetailsboxes {
	margin: 16px 10px 10px 10px;
}

.eventvalues {
	padding: 2px;
}

#eventInfo {
	width: 95%;
}

#detailsandmap input {
	border-radius: 8px;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	padding: 7px;
	border: 1px solid purple;
}

#datetimeduration {
	display: flex;
}

#datetimebox {
	flex: 1;
}

#datetime {
	width: 90%;
}

#durationbox {
	flex: 1;
	margin-right: 8px;
}

#duration {
	width: 86%;
}

#eventdetails {
	flex: 1;
}

#signupeventbutton {
	display: none;
}

#leaveeventbutton {
	display: none;
}

#canceleventbutton {
	display: none;
}

#confirmcompletionbutton {
	display: none;
}

#confirmabsencebutton {
	display: none;
}

#viewEventMap {
	height: 200px;
	flex: 1;
	border-radius: 9px;
	border: 1px solid #3F3077;
}

#createdby {
	text-align: center;
	font-size: 19px;
	font-family: 'Noto Serif JP', sans-serif;
	font-weight: bold;
	padding-bottom: 17px;
}

.volunteerimage {
	width: 30px;
	height: 30px;
	border-radius: 20px;
}

.eventimage {
	display: inline-block;
}

.eventimage img {
	height: 100%;
	max-height: 140px;
	margin: 12px
}

#people {
	max-width: 907px;
	margin: 0 auto;
	display: flex;
}

#volunteers {
	flex: 2;
	text-align: center;
}

#invitebox {
	border: 1px solid black;
	border-radius: 8px;
	flex: 1;
}

.invitefriendcheckbox {
	position: relative;
	bottom: 16px;
}

#invitebox ul {
	list-style: none;
}

#eventPopup {
    	background: rgba(0,0,0,.6);
    	position: fixed;
    	top: 60px;
    	bottom: 0;
    	left: 0;
    	right: 0;
	display: none;
}

#popupClose {
	font-size: 27px;
	float: right;
	color: white;
	font-weight: bold;
	border-radius: 42px;
	width: 27px;
	text-align: center;
	margin: 9px;
	cursor: pointer;
}

#eventImages {
	position: relative;
	text-align: center;
	margin: 0 auto;
	width: 50%;
	top: 16%;
	background: rgba(0,0,0,0.4);
}

.prev, .next {
  	cursor: pointer;
  	position: absolute;
  	top: 50%;
  	width: auto;
  	margin-top: -22px;
  	padding: 16px;
  	color: white;
  	font-weight: bold;
  	font-size: 18px;
  	transition: 0.6s ease;
  	border-radius: 0 3px 3px 0;
  	user-select: none;
}

.prev {
	left: 0;
}

.next {
  	right: 0;
  	border-radius: 3px 0 0 3px;
}

.eventimagethumb {
	width: 100px;
	height: 100%;
	padding: 10px;
}

.eventimagethumbcontainers {
	display: inline-block;
}

/*Evnet page media queries*/

@media (max-width:800px){
	#detailsandmap {
		flex-direction: column;
	}

	#viewEventMap {
		flex: none;
	}
}

/* Logged in */

#dashboard {
	padding-top: 80px;
	text-align: center;
	background-image: linear-gradient(to bottom, rgb(218, 214, 234), rgba(255, 255, 255, 0.73)),url(https://i0.wp.com/www.intelligentliving.co/wp-content/uploads/2019/08/Planting-trees.jpg?w=1751&ssl=1);
}

#profilepic img {
	height: 100px;
	border-radius: 25px;
}

#scores {
	text-align: center;
	line-height: 50px;
	font-size: 30px;
	padding-bottom: 20px;
	display: flex;
	margin-top: 12px;
}

#inspirationscorespace {
	flex: 1;
}

#volunteerscorespace {
	flex: 1;
}

.scorecard {
	background: white;
	border-radius: 8px;
}

#volunteerscore {
	display: inline-block;
	width: 49%;
}

#inspirationscore {
	display: inline-block;
	width: 49%;
}

#navbar {
	display: flex;
	max-width: 869px;
	margin: 0 auto;
	padding-top: 19px;
}

.navbutton {
	flex: 1;
	text-align: center;
}

#eventsandfriends {
	padding-top: 27px;
	max-width: 866px;
	margin: 0 auto;
	display: flex;
}

#upcomingpreviousevents {
	flex: 2;
}

.eventnavbutton {
	display: inline-block;
	height: 27px;
	width: 150px;
	border: 1px solid black;
	border-radius: 8px;
	text-align: center;
	line-height: 27px;
}

.previouseventsinteractions {
	display: inline-block;
}

#previouseventneedsaction {
        position: relative;
        right: -161px;
        bottom: 15px;
        background: red;
        color: white;
        border-radius: 0.8em;
        font-size: 10px;
        line-height: 1.5em;
        width: 1.5em;
        font-weight: bold;
        text-align: center;
        display: inline-block;
}

#upcomingevents {
}

#previousevents {
	display: none;
}

#friendrequestsicon {
	display: inline-block;
	line-height: 70px;
	margin-left: 11px;
}

#friendrequestpopup {
	position: fixed;
	width: 377px;
	display: none;
}

#friendrequestpopup ul {
	//display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	padding: 12px 16px;
	z-index: 1;
}

#friendrequestpopup ul li {
	display: block;
        color: black;
}

#eventrequestsicon {
	display: inline-block;
}

#eventrequestpopup {                                                                                                                                                
	position: fixed;
	width: 377px;
        display: none;
}

#eventalertcount {
        position: relative;
	right: 10px;
	bottom: 10px;
	background: red;
	color: white;
	border-radius: 0.8em;
        font-size: 10px;
        line-height: 1.5em;
        width: 1.5em;
        font-weight: bold;
        text-align: center;
	display: inline-block;
}

#friendlist {
	border: 1px solid purple;
	width: 271px;
	height: 300px;
	overflow: scroll;
	border-radius: 4px;
	flex: 1;
}

.friend ul li {
	padding: 5px;
}

.friendlistname {
	position: relative;
	margin-left: 7px;
	top: -13px;
}

.removefriend {
	display: inline-block;
	margin-left: 6px;
	position: relative;
	top: -14px;
}

.friendlistprofilepicbox {
	display: inline-block;
}

.friendlistprofilepic {
	height: 40px;
	width: 40px;
	border-radius: 5px;
}

/*footer*/

#footer {
	margin-top: 20px;
}

#partnerpics {
	display: flex;
	align-items: center;
	justify-content: center;
}

#partners h1 {
	text-align: center;
	font-family: 'Noto Serif JP', sans-serif;
	font-size: 30px;
}

#partners hr {
	width: 80%;
	text-align:center; 
	margin: 15px auto;
}

#footer #partners img {
	max-width: 20%;
	min-width: 240px;
	flex: 1;
	align-self: center;
	margin: 40px;
}
 
#legal {
	background: black;
}

#copyright {
	font-size: 13px;
	text-align: center;
}

#additional-links {
	padding: 10px 20%;
}

#additional-links ul {
	list-style: none;
	text-align: center;
}

#additional-links ul li {
	display: inline-block;
	padding: 0px 20px;
}

/*Search.php*/
.searchprofileimage {
	height: 100px;
}

/*signup.php*/

#signupinstructions {
	width: 80%;
	margin: 0 auto;
	color: #3E3076;
}

#signupinstructions h1 {
	font-size: 33px;	
}

#signupinstructions h2 {
	font-family: 'Montserrat', sans-serif;
	padding-top: 5px;
}

#emailformat {
	visibility: hidden;
	color: red;
}

#firstnamewarning {
	visibility: hidden;
}

#lastnamewarning {
	visibility: hidden;
}

#usernamewarning {
	visibility: hidden;
}

#show-tos {
	display: block;
	margin: 0 auto;
	margin-top: 10px;
	width: 30%;
	height: 40px;
	border: none;
	background-color: #222;
	font-family: arial;
	font-size: 16px;
	color: #fff;
	cursor: pointer;
}

#tos {
	background-color: #665882;
	padding: 10px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

#tosinteract {
	margin-top: 25px;
}

#termsheadertext {
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
	font-weight: bold;
	color: white;
}

.tos-close {
	  position: relative;
	  float: right;
	  width: 20px;
	  height: 14px;
	  margin: auto;
	  top: 0;
	  right: 15px;
	  bottom: 1px;
	  cursor: pointer;
}

.tos-close .menu-line-tos {	
	background-color: #333;
	height: 2px;
	width: 100%;
	border-radius: 2px;
	position: absolute; 
	left: 0;
}
		
.tos-close .menu-line-1-tos { 
	top: 0; 
	transform: translateY(7px) translateY(-50%) rotate(-45deg);
}

.tos-close .menu-line-2-tos { 
	bottom: 0; 
	transform: translateY(-7px) translateY(50%) rotate(45deg);
}

.opaque {
    	position: fixed;
    	top: 0px;
    	left: 0px;
    	width: 100%;
    	height: 100%;
    	z-index: 1000;
    	background-color: black;
    	filter: alpha(opacity=30);
    	opacity: 0.3;
	display: none;
}

* html .opaque {
    	position: absolute;
}

.opaque-out {
	display: inline;
}

.signup-form {
	width: 80%;
	margin: 0 auto;
	padding-top: 30px;
}

.signup-form input {
	width: 90%;
	height: 40px;
	padding: 0px 5%;
	margin-bottom: 4px;
	border: none;
	background-color: #fff;
	font-family: arial;
	font-size: 16px;
	color: #111;
	line-height: 40px;
	border-radius: 5px;
}

.signup-form button {
	display: block;
	margin: 0 auto;
	width: 30%;
	height: 40px;
	border: none;
	background-color: grey;
	font-family: arial;
	font-size: 16px;
	color: #fff;
	cursor: pointer;
}

.confirm {
	position: fixed;
	left: 0;
	right: 0;
	margin: auto;
	top: 0;
	bottom: 0;
	height: 200px;
	max-width: 500px;
	background-color: white;
	box-shadow: 12px 12px 2px 1px rgba(1, 1, 80, .2);
	border: 2px solid black;
	border-radius: 10px;
	z-index: 2000;
	display: none;
	-webkit-transition: .2s ease-out;
	-moz-transition: .2s ease-out;
	-o-transition: .2s ease-out;
	-ms-transition: .2s ease-out;
	transition: .2s ease-out;
}

.confirm-out {
	display: block;
	-webkit-transition: .2s ease-out;
	-moz-transition: .2s ease-out;
	-o-transition: .2s ease-out;
	-ms-transition: .2s ease-out;
	transition: .2s ease-out;
}

.tosagree {
	color: #605395;
}

#agree {
	display: inline;
	float: left;
	width: 5%;
	height: 15px;
}

#tostext {
        display: inline;                                                                                                                   
	float: left;
	width: 5%;
	height: 15px; 
}

/*eventsearch.php*/
#searcheventcontent {
	padding-top: 41px;
	padding-bottom: 24px;
	background-image: linear-gradient(to bottom, rgb(218, 214, 234), rgba(255, 255, 255, 0.73)),url(https://i0.wp.com/www.intelligentliving.co/wp-content/uploads/2019/08/Planting-trees.jpg?w=1751&ssl=1);
}

#formandmap {
	max-width: 720px;
	margin: 0 auto;
	padding-top: 44px;
}

#searchEventLabel {
	padding-top: 9px;
	padding-bottom: 12px;
	font-size: 26px;
	font-family: 'Noto Serif JP', sans-serif;
	font-weight: bold;
}

#searchmap {
	height: 300px;
	width: 100%;
	border-radius: 8px;
}

#eventdetailssection {
	max-width: 720px;
	margin: 0 auto;
}

.searchdetailscontent {
	border: 1px solid black;
	border-radius: 8px;
	height: 64px;
	padding: 10px;
	margin-top: 19px;
	cursor: pointer;
}
